@page "/"
@using BebComponents
@using BebComponents.DataModels
@using static BebComponents.EDualSelect


<h3>Enhanced Dual Select Example</h3>
<h5 class="mt-2">Make your selection</h5>
<EDualSelect @ref="dualSelect" AvailableOptions="DualSelectOptions"></EDualSelect>
<button class="btn btn-primary mt-2" type="button" @onclick="SubmitEDualSelect">Submit EDualSelect</button>

<h5 class="mt-2">The following were selected:</h5>
<ul>
    @foreach (SelectOption option in resultList)
    {
        <li id="@option.Id">@option.Value</li>
    }
</ul>

<h3 class="mt-5">Enhanced Select Example</h3>
<h5 class="mt-2">Make your selection</h5>
<ESingleSelect @ref="eSingleSelect" Options="singleSelectOptions"></ESingleSelect>
<button class="btn btn-primary mt-2" type="button" @onclick="SubmitESingleSelect">Submit ESelect</button>

<h5 class="mt-2">The following was selected:</h5>
<p>@eSingleSelectResult</p>

<EditForm Model="Form" OnValidSubmit="ValidFormSubmit" class="mt-5">
<DataAnnotationsValidator />
<h3>Form Example:</h3>
<ValidationSummary />

    <h3 class="mt-2">Enhanced Input Text</h3>
    <EInputText Id="EInputText" Label="First Name" @bind-Value="Form.FirstName" ValidationFor="@( () => Form.FirstName)" />
    <button class="btn btn-primary mt-2" type="submit">Submit EInputText</button>
    <h5 class="mt-2">The first name entered is:</h5>
    <p>@firstName</p>
    
    <h3 class="mt-2">Enhanced Input Text - floating label</h3>
    <EInputText Id="EInputText2" Label="First Name" @bind-Value="Form.FirstName" ValidationFor="@( () => Form.FirstName)" FloatingLabel="true" />
    <button class="btn btn-primary mt-2" type="submit">Submit EInputText</button>
    <h5 class="mt-2">The first name entered is:</h5>
    <p>@firstName</p>
    
    <h3 class="mt-4">Enhanced Select</h3>
    <ESelect Id="ESelect" @ref="eSelect" @bind-Value="Form.LastName" Options="@options" ValidationFor="@( () => Form.LastName )" 
        Label="Last Name" FloatingLabel="true" Trigger="EnableEnhancedSelect2"/>
    <h5 class="mt-2">The last name selected is:</h5>
    <p>@Form.LastName</p>

    @if(enhancedSelect2 == true) 
    {
        <h3 class="mt-4">Enhanced Select2</h3>
        <ESelect Id="ESelect2" @ref="eSelect2" @bind-Value="Form.PreferredName" Options="@options2" ValidationFor="@( () => Form.PreferredName )" Label="Preferred Name" />
        <h5>The preferred name selected is:</h5>
        <p>@Form.PreferredName</p>
    }

</EditForm>
