<div class="container">
    <div class="row">
        <div class="col-3">
            <select id="NotSelected" class="border" multiple="multiple" size="@BoxSize" style="width: 200px">
                @foreach (var item in NotSelected)
                {
                    <option id="@item.Id" @onclick="@(() => Select(item))">@item.Value</option>
                }
            </select>
            <button type="button" class="btn btn-outline-primary" @onclick="SelectAll">Add all >></button>
        </div>
        <div class="col-3">
            <select id="Selected" class="border" multiple="multiple" size="@BoxSize" style="width: 200px">
                @foreach (var item in Selected)
                {
                    <option id="@item.Id" @onclick="@(() => Deselect(item))">@item.Value</option>
                }
            </select>
            <button type="button" class="btn btn-outline-primary" @onclick="DeselectAll">@removeAllText Remove all</button>
        </div>
    </div>
</div>





