<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="mb-1">
                <label for="search" class="form-label">Search</label>                
                <input id="search" class="form-control" @oninput="SearchTheOptions" />
            </div>
            <div class="row">
                <div class="col-6">
                    <select id="NotSelected" class="form-control border" multiple="multiple" size="@BoxSize" style="width: 200px">
                        @foreach (var option in notSelectedDisplay)
                        {
                            <option id="@option.Id" @onclick="@(() => Select(option))">@option.Value</option>
                        }
                    </select>
                    <button type="button" class="btn btn-outline-primary" @onclick="SelectAll">Add all >></button>
                </div>
                <div class="col-6">
                    <select id="Selected" class="form-control border" multiple="multiple" size="@BoxSize" style="width: 200px">
                        @foreach (var option in Selected)
                        {
                            <option id="@option.Id" @onclick="@(() => Deselect(option))">@option.Value</option>
                        }
                    </select>
                    <button type="button" class="btn btn-outline-primary" @onclick="DeselectAll">@removeAllText Remove all</button>
                </div>
            </div>
        </div>
    </div>
</div>





