@inherits InputBase<string>

@if(FloatingLabel == false)
{
    <div class="form-control-wrapper">
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="form-control-label" for="@Id">@Label</label>        
        }
        <input class="form-control @CssClass" id="@Id" @bind="@CurrentValue" />
        <div class="form-control-validation">
            <ValidationMessage For="@ValidationFor" />
        </div>
    </div>
}
else
{
    <div class="form-floating">
        <input class="form-control @CssClass" id="@Id" @bind="@CurrentValue" placeholder="@Label" />
        <label class="form-control-label" for="@Id">@Label</label>    
        <div class="form-control-validation">
            <ValidationMessage For="@ValidationFor" />
        </div>
    </div>
}





